body{
    padding:0;
    margin:0;
}

.mapGrid{
    display: flex;
    flex-flow: column;
}

.tileRow{
    display: flex;
    flex-flow: row;
}

.tile{
    width: 38px;
    height: 38px;
    
    border: 1px solid red;
}

.tile[terrain=grass]{
    background: green;
    background-position: right bottom;
    border: 1px solid black;
}

.tile[terrain=water]{
    background: blue;
    border: 1px solid black;
}

.tile[terrain=blank]{
    background: white;
    border: 1px solid white;
}

.tile:hover:after{
    content: var(--loc);;
    z-index: 10;
}

.tile:hover{
    border: 1px solid blue;
}

.tile[walk=true]{
    opacity: .6;
}

.tile[attack=true]:after{
    display:inline-block;
    content: 'x';
    background: red;
    opacity: .3;
    width:100%;
    height:100%;
    z-index:10;
}

.tile[effect=true]:after{
    display:inline-block;
    content: 'x';
    background: red;
    opacity: .6;
    width:100%;
    height:100%;
    z-index:10;
}

.unit{
    position: absolute;
    width:36px;
    height:36px;
    border: 1px solid yellow;
    border-radius: 50%;
    z-index: 20;
    background: yellow;
}

.unit[team=ally]{
    border: 1px solid blue;
    background: blue;
}

.unit[team=enemy]{
    border: 1px solid red;
    background: red;
}

.unit[hasattacked=true]{
    opacity:.5;
}